.notification.flex.flex--col
  .group.group--apart
    = link_to post.user.user_name, profile_path(post.user.user_name), 
      class: 'is-size-4'
    - if post.comments.exists?
      .dropdown-trigger        
        %button.button.fas.fa-angle-down(data-trigger="#{post.id}")
  %p1.is-size-5= post.content
  - if post.user.id == current_user.id
    .group.group--right
      %button.button.btn.btn--lg.is-info
        %span.icon
          %span= "#{post.likes.count} Likes" 
      = link_to 'Edit', edit_post_path(post), class: 'button btn is-warning'
      = link_to 'Delete', post_path(post), method: :delete, 
        data: {confirm: 'Are you sure?'}, class: 'button btn is-danger'
  - else
    .group.group--right
      = link_to "#{post.likes.count}", post_like_path(post.id), method: :post, class: 'button btn btn--lg is-info far fa-thumbs-up is-white pl-10 group group--right'
      = link_to 'Cancel', profile_path(current_user.user_name), 
        class: 'button btn is-danger'
  .dropdown(id="#{post.id}")
    - if post.comments.present?
      .dropdown-menu
        .dropdown-content.content--sm
          = render partial: 'shared/comments', 
            locals: { post: post, comments: post.comments }
  = render partial: 'shared/comments_form', 
  locals: { post: post, comments: post.comments.build }
