.notification.flex.flex--col
  .group.group--apart
    = link_to post.user.user_name, profile_path(post.user.user_name)
    .dropdown-trigger
      %button.button
        %span.icon.is-small
          %i.fas.fa-angle-down
  %h1.title.is-size-3= post.content
  - if post.user.id == current_user.id
    .group.group--right
      = link_to 'Edit', post_path(post), class: 'button btn is-warning'
      = link_to 'Delete', 
        post_path(post),
        method: :delete, 
        data: {confirm: 'Are you sure?'}, class: 'button btn is-danger'
  - else
    .group.group--right
      = link_to 'Like', post_likes_path(post), method: :post, 
        class: 'button btn is-info'
      = link_to 'Cancel', posts_path, class: 'button btn is-danger'
  .dropdown
    .dropdown-content
      = render partial: 'shared/comments', 
        locals: { post: post, comments: post.comments }
  = render partial: 'shared/comments_form', 
  locals: { post: post, comments: post.comments.build }
