- @posts.each do |post|
  %h1= current_user.user_name
  %h1= post.content
  - unless post.likes.empty?
    %p= pluralize(post.likes.count, 'like')
  %div
    = link_to 'Delete', 
      user_post_path(current_user, post),
      method: :delete, 
      data: {confirm: 'Are you sure?'}  
    = link_to 'Edit', edit_user_post_path(current_user, post)
    = link_to 'Like', user_post_likes_path(current_user, post), method: :post 
  %br
