- if user_signed_in?
  %ul
    %li= link_to 'New Post', new_post_path
    %li= link_to 'Logout', destroy_user_session_path, method: :delete
    %li= link_to 'Profile', profile_path(current_user.user_name)
    %li= link_to 'Users', users_path
    %li Notifications(#{current_user.notifications.where(read: false).count})
    = render current_user.notifications.where(read: false).last(5)
    %li= link_to 'View All', notifications_path
- else 
  %ul
    %li= link_to 'Signin', new_user_session_path
    %li= link_to 'Signup', new_user_registration_path
